    {% extends "base.html" %}

{% block title %}
Education | Shivank Rastogi
{% endblock %}

{% block content %}

<!-- ========================= EDUCATION SECTION ========================= -->

<section class="education" id="education">

    <div class="container">

        <h2 class="section-title fade-up">Education</h2>

        <p class="section-subtitle fade-up">

            My academic background that laid the foundation for
            my career in databases and software development.

        </p>

        <!-- Education Card 1 -->

        <div class="education-card fade-up">

            <div class="education-header">

                 <span class="education-year">2010</span>

                <h2>Bachelor of Computer Applications (BCA)</h2>
                <h3>Pt. DDUMC(IIMT Group of Colleges)</h3>

            </div>

            <div class="education-details">

                <p><strong>Location:</strong> Meerut, Uttar Pradesh</p>

            </div>

            <div class="education-description">

                <p>

                    Studied core computer science subjects including
                    Data Structures, DBMS, Operating Systems, and
                    Software Engineering, with a strong focus on
                    database design and SQL.

                </p>

            </div>

            <div class="education-skills">

                <span>DBMS</span>
                <span>SQL</span>
                <span>Data Structures</span>
                <span>Python</span>
                <span>Web Development</span>

            </div>

        </div>

        <!-- Education Card 2 -->

        <div class="education-card fade-up">

            <div class="education-header">

                <span class="education-year">2007</span>

                <h2>Senior Secondary (12th) </h2>
                <h3>SD Inter College</h3>

            </div>

            <div class="education-details">

            
                <p><strong>Location:</strong> Meerut, Uttar Pradesh</p>

            </div>

            <div class="education-description">

                <p>

                    Completed higher secondary education with
                    Mathematics, and Computer Science, building 
                    the foundation for a technical career.

                </p>

            </div>

            <div class="education-skills">

                <span>Mathematics</span>
                <span>Accounting</span>

            </div>

        </div>

    </div>

</section>

{% endblock %}